{% load static %}
<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/cozinhasgeteins2.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p>Há mais de 20 anos realizando sonhos</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="https://www.facebook.com/MoveisGeteins/" target="_blank"><i class="lni-facebook-filled"></i></a>
                  <a class="instagram" href="https://www.instagram.com/geteins/?hl=en" target="_blank"><i class="lni-instagram-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Produtos</h3>
              <ul class="footer-link">
                <li><a href="{% url 'moveis' %}">Cozinha</a></li>
                <li><a href="{% url 'moveis' %}">Quarto</a></li>
                <li><a href="{% url 'moveis' %}">Sala de estar</a></li>
                <li><a href="{% url 'moveis' %}">Banheiro</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <a href="https://www.google.com/maps/place/Loja+M%C3%B3veis+Geteins/@-24.957565,-53.468515,15z/data=!4m5!3m4!1s0x0:0x59e4b5477a702b45!8m2!3d-24.9573971!4d-53.4685078" target="_blank"><i class="lni-map-marker"></i> Rua São Paulo 1895 - <br> Centro, Cascavel </a>
                </li>
                <li>
                  <a><i class="lni-phone-handset"></i> Cel: +45 999 734 116</a>
                </li>
                <li>
                  <a><i class="lni-envelope"></i> E: contato@moveisgeteins.com.br </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>